<!DOCTYPE html>
<html>
    <head>
        <title>Node Js 學習中</title>
        <meta charset="UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="starter-template.css" rel="stylesheet">
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/bootstrap.js"></script>
    </head>
    <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Node Js 學習中</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% for(var i=0; i<li.length; i++) {%>
            <li id="<%= id[i] %>" class="<%= style[i] %>"><a href="<%= href[i] %>"><%= li[i] %></a></li>  
            <% } %> 
            <!--<li id="index" class="active"><a href="#">首頁</a></li>
            <li id="ajaxpost" class=""><a href="#">Ajax POST練習</a></li>
            <li id="ajaxget" class=""><a href="#">Ajax GET練習</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <%- content %>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>